<div id="<%= dom_id subscription %>">
  <p>
    <strong>Subscription:</strong>
    <%= subscription.subscription_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

</div>
