<div >
<%= image_tag("banner",style:" width:1355px;height:550px;position: relative;") %>
  <div class="text-block">
    <p>ŧ </p> 
  </div>
  <div class="btext-block">
    <p>Twitter is what’s happening and what people are talking about right now.</p>
  </div>
</div>
<br/><br/>
<div class="container">
<p style="font-weight:bold;font-size:90px;"> 
 `We serve the <br/>
 public <br/>
 conversation.`
</p>
<p style="font-weight:bold;font-size:20px;">
That’s why it matters to us that people have a free and safe space to talk.
</p>
<p style="font-weight:bold;font-size:15px;">
Healthy conversations →
Security and privacy →
Civic integrity →
</p>

</div>
<br/><br/>
<div style="background-color:black;color:white;width:100%; text-align: center;font-size:30px;">
   &copy; 2022 twitter.com
 </div>