<div class="container">
<br/>
<div class="card">
  <div class="card-body">
   <h1>Editing profile</h1>
     <%= render "form", profile: @profile %>
      <br/>
<div>
  <%= link_to "Show", @profile ,class:"btn btn-dark btn-sm"%> 
  <%= link_to "Back", profiles_path ,class:"btn btn-dark btn-sm"%>
</div>
  </div>
 

</div>
</div>