<div class="container">
<div>
  <%= link_to "Back ", :back ,class:"btn btn-dark btn-sm"%>
</div>
<br/><br/>
<div class="card">
 <div class="card-body">
<h1>Profile :</h1>

<%= render "form", profile: @profile %>
<br>
</div>
</div>

<br/><br/>
</div>