table {
    counter-reset: tableCount;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
    font-size: 400px;
    color: skyblue;
    padding-left: 20px;
    padding-right: 20px;
}

.btext-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}