<div class="container">
 <br/>
 <div>
 <%= link_to "Back ", 'javascript:history.back()',class:"btn btn-dark btn-sm"%>
</div>
<br/>
<div class="card">
 
<div class="card-body">
<h1>New tweet</h1>

<%= render "form", tweet: @tweet %>
</div>

</div>
<br/>
</div>